<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771299739703-c7t3s4u0pc8sbi70k0qh172p9ukof0fv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771299739703-c7t3s4u0pc8sbi70k0qh172p9ukof0fv</string>
	<key>API_KEY</key>
	<string>AIzaSyAw9ARlLK2TeocF5VMCnC8JHB_pMFEG-Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>771299739703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstapplicationsqyavril2022</string>
	<key>PROJECT_ID</key>
	<string>projetsqyavril2022</string>
	<key>STORAGE_BUCKET</key>
	<string>projetsqyavril2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771299739703:ios:1722af30d125c3cc0817b2</string>
</dict>
</plist>